header
    .header-block
        .container-width
            .header-container
                .header-sm
                    a.menu(href='javascript:;')
                        svg(width='40' height='40' viewbox='0 0 100 100')
                            path.line.line1(d='M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058')
                            path.line.line2(d='M 20,50 H 80')
                            path.line.line3(d='M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942')
                .language-switcher.hidden-for-small
                    a.language-switcher__item.active(href='/?lang=ru') RU
                    span.language-switcher__item ENG
                .logo-container
                    a.logo-container__link(href='/')
                        img(src='images/logo.svg' alt='logo')
                .header-links
                    .header-links__auth
                        .language-switcher.visible-for-small
                            a.language-switcher__item.active(href='/?lang=ru') RU
                            span.language-switcher__item ENG
                        a.header-links__soc.auth-button(href="#" data-fancybox="" data-src="#registration-modal" data-touch='false')
                            | Регистрация
                        a.header-links__soc.header-links__soc-btn.auth-button(href="#" data-fancybox="" data-src="#login-modal" data-touch='false')
                            | Войти
                        a.header-links__soc.header-links__soc-btn.logout-button.visually-hidden(href="#")
                            | Выйти
                        a.header-links__soc.visible-for-small(href="#order-section" class='sliding-link')
                            | Заказ
                        a.header-links__soc.visible-for-small(href="#services-section" class='sliding-link')
                            | Услуги
                        a.header-links__soc.visible-for-small(href="#contacts-section" class='sliding-link')
                            | Контакты
